@import url('https://fonts.googleapis.com/css2?family=Anton&family=Forum&family=Karla:wght@600&family=Lexend:wght@400;500;600&family=Lora:wght@400;500;600;700&family=Noto+Serif:wght@200;300&family=Poppins:wght@300;400;600&family=Roboto+Mono:wght@700&family=Yantramanav:wght@300;400;500&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Forum&family=Karla:wght@600&family=La+Belle+Aurore&family=Lexend:wght@400;500;600&family=Lora:wght@400;500;600;700&family=Noto+Serif:wght@200;300&family=Poppins:wght@300;400;600&family=Roboto+Mono:wght@700&family=Yantramanav:wght@300;400;500&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: #f4f4f0;
    --dark: #0d0c0c;
    font-family: 'Ysabeau Infant', sans-serif;
  }
}

@layer utilities {
  /* Logo */
  .stroke-miterlimit {
    stroke-miterlimit: 10;
  }

  .stroke-round {
    stroke-linecap: round;
  }

  .stroke-dasharray {
    stroke-dasharray: 1500;
  }

  /* Background-image home page*/
  .transform-3d {
    transform: translate3d(0, 0, 0);
  }

  .backface-visibility {
    backface-visibility: hidden;
  }

  .custom-404::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.95) 100%
    );
  }
}
